<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tree_die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{94,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{1,231},{75,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree_die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{78,231},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_1.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,73}</string>
                <key>spriteSourceSize</key>
                <string>{45,73}</string>
                <key>textureRect</key>
                <string>{{92,172},{45,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_1.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,117}</string>
                <key>spriteSourceSize</key>
                <string>{50,117}</string>
                <key>textureRect</key>
                <string>{{121,120},{50,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_1.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,118}</string>
                <key>spriteSourceSize</key>
                <string>{50,118}</string>
                <key>textureRect</key>
                <string>{{1,97},{50,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_2.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{65,95}</string>
                <key>textureRect</key>
                <string>{{130,53},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_2.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,87}</string>
                <key>spriteSourceSize</key>
                <string>{75,87}</string>
                <key>textureRect</key>
                <string>{{136,219},{75,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tree_grow_2.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{1,149},{80,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death_Tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{78,231},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>init_Tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,111}</string>
                <key>spriteSourceSize</key>
                <string>{50,111}</string>
                <key>textureRect</key>
                <string>{{130,1},{50,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tree.png</string>
            <key>size</key>
            <string>{242,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b788d46002c2735ac55323fa68927e:92cdf988b126d848a10931b3eb4d4981:17271709d50eb8e92a6144b841a647b1$</string>
            <key>textureFileName</key>
            <string>Tree.png</string>
        </dict>
    </dict>
</plist>
